@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Comic+Relief:wght@400;700&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


:root {
  --background: #171717;
  --foreground: #fff;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Comic Relief",Arial, Helvetica, sans-serif;
}

.user-popup-parent .user-name::placeholder{
  color: rgb(198, 198, 155);
}


.Quill-div{
  padding-top: 0px !important;
}
.ql-editor {
  background-color: #201e1e;
  color: #fff; /* text color */
  min-height: 70vh;
}
.ql-editor.ql-blank:before{
  color: rgb(198, 198, 155) !important;
}

.ql-toolbar {
  background-color: #a5a5a1 !important; /* toolbar background */
  border: 1px solid #99a1af;
}

.ql-container {
  background-color: transparent;
  border: 1px solid #99a1af;
}